body {
    font: 1rem/1.25 'Titillium Web', sans-serif;
}

.bg-primary {
    background-color: #1d4e9e !important;
}

.text-primary {
    color: #1d4e9e !important;
}

.btn-primary{
    background-color: #1d4e9e !important;
    text-transform: uppercase !important;
    border-radius:0;
}

.border-primary {
    border: none;
    border-top: 2px solid #fcc707 !important;
}

#header-top {
    font-size: 0.85rem;
}

/* """""""""banner""""""""" */

.carousel-caption {
    bottom: unset;
    left: unset;
    padding: unset;
    text-align: unset;
}

.carousel-item {
    height: 360px;
    overflow: hidden;
}

.flipX {
    transform: scaleX(-1);
}

#callBack {
    right: 2rem;
}

.banner-content {
    font-size: 1.5rem;
    width: 440px;
    margin-top: 3.5rem;
}

.carousel-indicators {
    top: 100%;
    bottom: unset;
    margin: unset;
}

.carousel-indicators li {
    width: 33.33%;
    height: 58px;
    margin: unset;
    text-indent: unset;
    text-align: center;
    color: #fff !important;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature1 {
    background: #1d4e9e;
}

#feature1 p{
    padding-left: 50%;

}

#feature2 {
    background: #255fbe;
}

#feature3 {
    background: #367df1;
}

#feature3 p{
    padding-right: 50%;

}

/* """"""""article about"""""""" */

#about{
    margin: 6rem 0;
}

.about{
    width: 810px;
}
.about p{
    overflow: hidden;
    height: 60px;
}

.about .btn::after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    background: #56af00;
    padding: .65rem 1rem;
    margin-right: -1rem;
    margin-left: 1rem;
}


@media (min-width:320px) and (max-width:768px) {

    /* """"""""banner"""""""" */
    .carousel-item {
        height: 320px;
    }

    .carousel-item img{
        width: unset !important;
        margin-left: -75%;
    }

    #callBack {
        right: 1rem;
    }

    .banner-content {
        width: 100%;
        margin-top: 22rem;
        text-align: center;
    }

    #feature1 p{
        padding-left: unset;
    
    }
    
    #feature3 p{
        padding-right: unset;
    
    }

    /* """""""about""""""" */
    .about {
        margin-top: 11rem;
    }
}